@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
}

.group-photo {
  height: 100vh;
  width: 100%;
  background-image: url(../../images/carousel/image4.jpeg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.quote {
  background-color: #dff9fb;
  text-align: center;
}
@media (width > 0) {
  .quote {
    padding-block: 2rem;
    padding-inline: 2rem;
  }
}
@media (width > 600px) {
  .quote {
    padding-block: 6rem;
    padding-inline: 4rem;
  }
}
@media (width > 0) {
  .quote p {
    font-size: 1rem;
  }
}
@media (width > 600px) {
  .quote p {
    font-size: 1.3rem;
  }
}

@media (width > 0) {
  .about {
    padding-block: 2rem;
    padding-inline: 2rem;
  }
}
@media (width > 600px) {
  .about {
    padding-block: 6rem;
    padding-inline: 4rem;
  }
}
@media (width > 0) {
  .about p {
    font-size: 1rem;
  }
}
@media (width > 600px) {
  .about p {
    font-size: 1.3rem;
  }
}
@media (min-width: 0) {
  .about h1 {
    font-size: 2rem;
  }
}
@media (min-width: 600px) {
  .about h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 720px) {
  .about h1 {
    font-size: 2rem;
  }
}
.about h1 {
  text-align: center;
  color: rgb(164, 51, 51);
  transition: 0.35s;
}
.about h1:hover {
  transform: scale(1.05);
}

@media (width > 0) {
  .team {
    padding-block: 2rem;
    padding-inline: 2rem;
  }
}
@media (width > 600px) {
  .team {
    padding-block: 6rem;
    padding-inline: 4rem;
  }
}
@media (min-width: 0) {
  .team h1 {
    font-size: 2rem;
  }
}
@media (min-width: 600px) {
  .team h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 720px) {
  .team h1 {
    font-size: 2rem;
  }
}
.team h1 {
  text-align: center;
  color: rgb(164, 51, 51);
  transition: 0.35s;
}
.team h1:hover {
  transform: scale(1.05);
}
.team .responsive-container-block {
  min-height: 75px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-start;
}
.team .container-block {
  min-height: 75px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}
.team .responsive-cell-block {
  min-height: 75px;
}
.team .container {
  max-width: 1380px;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}
.team .name {
  font-size: 18px;
  margin-top: 11px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: 800;
  text-align: center;
}
.team .position {
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
}
.team .team-card-container {
  width: 263px;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
}
.team .teamcard-container {
  justify-content: space-between;
}
.team .team-img-wrapper {
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
}
.team .team-img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.35s;
}
.team .team-img:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  .team .team-card-container {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 100%;
  }
  .team .team-img {
    width: 100%;
  }
}
.team .wk-desk-1 {
  width: 8.333333%;
}
.team .wk-desk-2 {
  width: 16.666667%;
}
.team .wk-desk-3 {
  width: 25%;
}
.team .wk-desk-4 {
  width: 33.333333%;
}
.team .wk-desk-5 {
  width: 41.666667%;
}
.team .wk-desk-6 {
  width: 50%;
}
.team .wk-desk-7 {
  width: 58.333333%;
}
.team .wk-desk-8 {
  width: 66.666667%;
}
.team .wk-desk-9 {
  width: 75%;
}
.team .wk-desk-10 {
  width: 83.333333%;
}
.team .wk-desk-11 {
  width: 91.666667%;
}
.team .wk-desk-12 {
  width: 100%;
}
@media (max-width: 1024px) {
  .team .wk-ipadp-1 {
    width: 8.333333%;
  }
  .team .wk-ipadp-2 {
    width: 16.666667%;
  }
  .team .wk-ipadp-3 {
    width: 25%;
  }
  .team .wk-ipadp-4 {
    width: 33.333333%;
  }
  .team .wk-ipadp-5 {
    width: 41.666667%;
  }
  .team .wk-ipadp-6 {
    width: 50%;
  }
  .team .wk-ipadp-7 {
    width: 58.333333%;
  }
  .team .wk-ipadp-8 {
    width: 66.666667%;
  }
  .team .wk-ipadp-9 {
    width: 75%;
  }
  .team .wk-ipadp-10 {
    width: 83.333333%;
  }
  .team .wk-ipadp-11 {
    width: 91.666667%;
  }
  .team .wk-ipadp-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .team .wk-tab-1 {
    width: 8.333333%;
  }
  .team .wk-tab-2 {
    width: 16.666667%;
  }
  .team .wk-tab-3 {
    width: 25%;
  }
  .team .wk-tab-4 {
    width: 33.333333%;
  }
  .team .wk-tab-5 {
    width: 41.666667%;
  }
  .team .wk-tab-6 {
    width: 50%;
  }
  .team .wk-tab-7 {
    width: 58.333333%;
  }
  .team .wk-tab-8 {
    width: 66.666667%;
  }
  .team .wk-tab-9 {
    width: 75%;
  }
  .team .wk-tab-10 {
    width: 83.333333%;
  }
  .team .wk-tab-11 {
    width: 91.666667%;
  }
  .team .wk-tab-12 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .team .wk-mobile-1 {
    width: 8.333333%;
  }
  .team .wk-mobile-2 {
    width: 16.666667%;
  }
  .team .wk-mobile-3 {
    width: 25%;
  }
  .team .wk-mobile-4 {
    width: 33.333333%;
  }
  .team .wk-mobile-5 {
    width: 41.666667%;
  }
  .team .wk-mobile-6 {
    width: 50%;
  }
  .team .wk-mobile-7 {
    width: 58.333333%;
  }
  .team .wk-mobile-8 {
    width: 66.666667%;
  }
  .team .wk-mobile-9 {
    width: 75%;
  }
  .team .wk-mobile-10 {
    width: 83.333333%;
  }
  .team .wk-mobile-11 {
    width: 91.666667%;
  }
  .team .wk-mobile-12 {
    width: 100%;
  }
}

.information .latest-events, .information .alma-connect {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 600px;
}
.information .divide-into-half > div {
  flex-basis: 0;
  flex-grow: 1;
}

/*PEN STYLES*/
.blog-card {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  background: #fff;
  transition: 0.35s;
  overflow: hidden;
  z-index: 0;
}
.blog-card:hover {
  transform: translateX(1rem);
}
.blog-card:hover .photo {
  transform: scale(1.2);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  width: 300px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.35s;
}
.blog-card .details {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.35s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details .author:before {
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  content: "\f02b";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}/*# sourceMappingURL=ar.css.map */