<!-- Footer -->
<!-- <footer>
    <div class="container">
        <div class="flex space-between">
            <div>
                <a href="https://iith.ac.in/">
                    <img src="{{site.baseurl}}logos/Horizontal Logo/Horizontal WTT(Transp).png" alt="logo">
                </a>
            </div>

            <div class="quicklinks flex column">
                <div>
                  <h2>
                      Quick Links
                  </h2>
                </div>

                <div>
                  <ul>
                      <li><a href="https://acr.iith.ac.in/index.html">Alumni Activities</a></li>
                      <li><a href="https://acr.iith.ac.in/index.html">Alumni Bodies</a></li>
                      <li><a href="https://acr.iith.ac.in/index.html">Visit to Campus</a></li>
                  <br>
                      <li><a href="https://acr.iith.ac.in/index.html">Corporate Activities</a></li>
                      <li><a href="https://acr.iith.ac.in/index.html">Corporate Collaborations</a></li>
                  <br>
                      <li><a href="https://iith.ac.in/">IITH Home</a></li>
                      <li><a href="https://acr.iith.ac.in/">IITH Alumni Relations</a></li>
                      <li><a href="https://giving.iith.ac.in/how-to-give">Give2IITH</a></li>
                      <li><a href="https://pr.iith.ac.in">Public Relations</a></li>
                      <li><a href="https://ocs.iith.ac.in/">Office Career Services</a></li>
                  <br>
                      <li><a href="{{site.baseurl}}webteam.html">Web-team</a></li>
                  </ul>
                </div>

            </div>

        </div>


    </div>
</footer> -->
<!-- End of Footer -->








<footer class="footer">
  <div><img src="{{site.baseurl}}logos/Horizontal Logo/Horizontal WTT(Transp).png" alt=""></div>
  <div class="footer__addr">
        
    <h2>Contact</h2>
    
    <address class="">
      IITH Kandi, Sangareddy<br>
          
      <a class="" href="mailto:example@gmail.com">Email Us</a>
    </address>
  </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Alumni Engagements</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Alumni Activities</a>
        </li>

        <li>
          <a href="#">Alumni Clusters</a>
        </li>
            
        <li>
          <a href="#">Visit to Campus</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title">Corporate Connect</h2>
      
      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Opportunities</a>
        </li>
        
        <li>
          <a href="#">CSR</a>
        </li>
 
      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title">Resources</h2>
      
      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        
        <li>
          <a href="#">Terms of Use</a>
        </li>
        
        <li>
          <a href="#">Sitemap</a>
        </li>
        
        <li>
          <a href="#">Sitemap</a>
        </li>
        
        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>
  

</footer>
<!-- 
<footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">CodingLab</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Company</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Get started</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Services</li>
          <li><a href="#">App design</a></li>
          <li><a href="#">Web design</a></li>
          <li><a href="#">Logo design</a></li>
          <li><a href="#">Banner design</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Account</li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">My account</a></li>
          <li><a href="#">Prefrences</a></li>
          <li><a href="#">Purchase</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Courses</li>
          <li><a href="#">HTML & CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Photoshop</a></li>
        </ul>
        <ul class="box input-box">
          <li class="link_name">Subscribe</li>
          <li><input type="text" placeholder="Enter your email"></li>
          <li><input type="button" value="Subscribe"></li>
        </ul>
      </div>
    </div>
 
  </footer> -->