
<!-- todo add the curved borders to teh nav bar -->

<section class="">
  <nav id="menu">
    <input
      type="checkbox"
      id="responsive-menu"
      onclick="updatemenu()"
    />
    <label></label>
  
    <div>
      <a href="#" class="menu-logo">
        <img
          src="{{site.baseurl}}logos/Horizontal Logo/Horizontal (Transp).png"
          alt="ACR"
        />
      </a>
    </div>
  
  
    <div>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>
          <a class="dropdown-arrow" href="#">Alumni-Engagements</a>
          <ul class="sub-menus">
            <li><a href="../ARandCRPages/ar_html/ar.html" target="_blank" class="highlight">ABOUT &#8593</a></li>
            <li><a href="http://">Activities</a></li>
            <li><a href="http://">Alumni Clusters</a></li>
            <li><a href="http://">Visit to Campus</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-arrow" href="#">Corporate-Connect</a>
          <ul class="sub-menus">
            <li><a href="" target="_blank" class="highlight">ABOUT &#8593</a></li>
            <li><a href="http://">Opportunities</a></li>
            <li><a href="http://">Corporate Social Responsibility</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-arrow" href="">Resources</a>
          <ul class="sub-menus">
            <li><a href="http://">Services 1</a></li>
            <li><a href="http://">Services 2</a></li>
            <li><a href="http://">Services 3</a></li>
          </ul>
        </li>
        <li><a href="http://">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</section>

<script>
  function updatemenu() {
    if (document.getElementById("responsive-menu").checked == true) {
      document.getElementById("menu").style.borderBottomRightRadius = "0";
      document.getElementById("menu").style.borderBottomLeftRadius = "0";
    } else {
      document.getElementById("menu").style.borderRadius = "50px";
    }
  }
</script>



























