<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
</head>
    {% include loader.html %}
<body>
	{% include navbar.html %}

    {{ content }}

	{% include footer.html %}
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

<!-- Main Js File -->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script src="{{ site.baseurl }}/assets/js/script.js"></script>
</html>
